.home-container {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
}
.logo-moonrider {
  height: 100%;
  width: 30%;       
  display: flex;
  justify-content: start;
  align-items: center;

}
.logo-moonrider img{
  width: 60%;   
  height: 70%;
  margin-left: 1vw;
}
.header-content{
  height: 100%;
  width: 40%;
  font-size: 1.5vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 0.3vw;
}
.gradient-text {
  font-size: 3vw;                 
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, orange, black, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;         
  color: transparent;             
}

.buttons{
  height: 100%;    
  width: 30%;    
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.buttons button {
  width: 35%;
  height: 40%;
  border-radius: 1vw;
  font-size: 1.3vw;
  font-weight: 700;
  cursor: pointer;
  background-color: #D98024;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.buttons button:hover {
  background-color: rgb(255, 180, 50); 
  transform: translateY(-0.4vw); 
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2); 
}

.video-content{
  width: 100vw;
  height: 90%;
 background-color: black;
}
.video-content video{
  width: 100%;
  height: 97%;
  object-fit: contain;
}


@media screen 
  and (min-width: 3840px)
  and (aspect-ratio: 16 / 9) {

  html {
    font-size: 20px; 
  }

  .header {
    height: 12vh;
  }
 .logo-moonrider img{
   height: 60%;
 }
  .header-content {
    width: 40%;
  }

  .buttons button {
    font-size: 1.2rem;
    border-radius: 1rem;
  }
}